/* Estilos popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease forwards;
}

.popup-contenido {
  background: #f5f5f5;
  padding: 2rem;
  border-radius: 10px;
  text-align: left;
  max-width: 400px;
  width: 90%;
  transform: scale(0.8);
  animation: popupScaleIn 0.4s ease forwards;
  position: relative;
}

.popup-contenido h2 {
  font-family: "Poppins", sans-serif;
  color: #6a4570;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.popup-contenido p {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.1rem;
}

.codigo {
  color: #638d5e;
  font-weight: bold;
}

/* Botón cerrar popup */
.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
  transition: color 0.3s;
}

.cerrar:hover {
  color: #000;
}

.boton-aprovechar {
  background-color: #6a4570;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.boton-aprovechar:hover {
  background-color: #885a89;
}

/* Animación de fondo */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animación del contenido del popup */
@keyframes popupScaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}